<div id="sidebar">
  <strong>Curriculum</strong>
  <ul>
    <li><a href="/images/newburyport_olin_ideation_process.pdf">Ideation Process</a></li>
    <li><a href="/images/newburyport_olin_science_content.pdf">Science Content</a></li>
    <li><a href="/images/newburyport_olin_initial_design.pdf">Initial Design</a></li>
    <li><a href="/images/newburyport_olin_preliminary_cad.pdf">Preliminary CAD</a></li>
    <li><a href="/images/newburyport_olin_midproject_reflection.pdf">Mid-Project Reflection</a></li>
    <li><a href="/images/newburyport_olin_quantitative_analysis.pdf">Quantitative Analysis</a></li>
    <li><a href="/images/newburyport_olin_iterative_design.pdf">Iterative Design</a></li>
  </ul>

  <strong>The Projects</strong>
  <ul>
    <li><a href="/newburyport-olin/kinetic-sculpture.html">Kinetic Sculpture</a></li>
    <li><a href="/newburyport-olin/fidgeting-students.html">Fidgeting Students</a></li>
  </ul>

  <strong>The Schools</strong>
  <ul>
    <li><a href="http://www.newburyport.k12.ma.us/high/">Newburyport High School</a></li>
    <li><a href="http://www.olin.edu/">Olin College</a></li>
  </ul>
</div>
