<div id="sidebar">
  <strong>More Details</strong>
  
  <ul>
    <li><a href="/sokcs/green-energy-modeling.html">Green Energy Modeling</a></li>
    <li><a href="/sokcs/cad.html">AutoCAD</a></li>
    <li><a href="/sokcs/diversity-training.html">Global Diversity Training</a></li>
    <li><a href="/sokcs/higher-ed.html">Higher Education Partner: WPI</a></li>
    <li><a href="/sokcs/tech-training.html">Technological Training</a></li>
    <li><a href="/sokcs/info.html">SOKCS: Who We Are</a></li>
  </ul>
</div>
