<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <script type="text/javascript" src="js/underscore.js"></script>
    <script type="text/javascript" src="js/jquery.js"></script>
    
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" href="/main.css" type="text/css" />
  </head>
  
  <body>
    <div id="container">
      <div id="header">
        <img src="/images/logo.jpg" height=125 alt="GTEC" />

        <nav>
          <ul>
            <li>
              <a href="/index.html">Home</a>
            </li>

            <li>
              <a href="#">About</a>

              <ul>
                <li><a href="/letter.html">Letter from a Founder</a></li>
                <li><a href="/vision.html">Vision & Mission</a></li>
                <li><a href="/need.html">The Need</a></li>
              </ul>
            </li>

            <li>
              <a href="/training.html">Training</a>
            </li>

            <li>
              <a href="/pilots.html">Pilot Programs</a>
            </li>

            <li>
              <a href="#">Team</a>

              <ul>
                <li><a href="/team.html">Core Team</a></li>
                <li><a href="/partners.html">Partners</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>

      <div id="content">{{ content }}</div>
      <div id="footer">
        <hr />
        <ul id="contact">
          <li>Global Technology and Engineering Consortium</li>
          <li>1000 Olin Way</li>
          <li>Needham, MA 02492</li>
          <li>gtec@olin.edu</li>
          <li>(781) 292-2890</li>
        </ul>
        
        <p id="designer"><small>Web design by Walter Nelson.</small></p>
      </div>
    </div>
  </body>
</html>
